<h3>팀방 들어가기</h3>
<% @team.each do |team| %>
  <li>
    <form action ="/chat/show" method="get">
      <input type="hidden" name="team" value=<%=team.id%>>
      <input type="submit" value="<%=team.teamname%>">
    </form>
  </li>
<% end %>

<h3> Create Team </h3>

<form action="/team/create" method="post">
  <input type="text" name="teamname" placeholder="teamname">
  <% @user.each do |p| %>
    <% if p != current_user %>
      <%= p.email %> = <%= check_box_tag('user_ids[]', p.id) %><br />
    <% end %>
  <% end %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <input type="submit">
</form>
<input type="button" onclick="onOpen();" value="Hello world" />
<script>
// Create a new form, then add a checkbox question, a multiple choice question,
// a page break, then a date question and a grid of questions.
var form = FormApp.create('New Form');
var item = form.addCheckboxItem();
item.setTitle('What condiments would you like on your hot dog?');
item.setChoices([
        item.createChoice('Ketchup'),
        item.createChoice('Mustard'),
        item.createChoice('Relish')
    ]);
form.addMultipleChoiceItem()
    .setTitle('Do you prefer cats or dogs?')
    .setChoiceValues(['Cats','Dogs'])
    .showOtherOption(true);
form.addPageBreakItem()
    .setTitle('Getting to know you');
form.addDateItem()
    .setTitle('When were you born?');
form.addGridItem()
    .setTitle('Rate your interests')
    .setRows(['Cars', 'Computers', 'Celebrities'])
    .setColumns(['Boring', 'So-so', 'Interesting']);
Logger.log('Published URL: ' + form.getPublishedUrl());
Logger.log('Editor URL: ' + form.getEditUrl());

function onOpen(e) {
   FormApp.getUi()
       .createMenu('My Menu')
       .addItem('My menu item', 'myFunction')
       .addSeparator()
       .addSubMenu(FormApp.getUi().createMenu('My sub-menu')
           .addItem('One sub-menu item', 'mySecondFunction')
           .addItem('Another sub-menu item', 'myThirdFunction'))
       .addToUi();
 }
</script>
